In [6]:
name=input("Enter Name: ")
quater=input("Enter Quarter: ")
batch=input("Enter Batch: ")
city=input("Enter City: ")
uni=input("Enter University: ")
#print(name.upper())
msg="""
Name: {},
Quater: {},
Batch: {},
City: {},
University: {}
"""
message=msg.format(name.upper(),quater,batch,city.title(),uni.title())
print(message)

Enter Name: nauman khaldi
Enter Quarter: 1st
Enter Batch: 3rd
Enter City: islamabad
Enter University: bahria university

Name: NAUMAN KHALDI,
Quater: 1st,
Batch: 3rd,
City: Islamabad,
University: Bahria University

In [3]:
name='Nauman khalid'
print(name.upper())

NAUMAN KHALID

In [4]:
name='nauman khalid'
print(name.isalpha())

False

In [5]:
name='NAUMAN KHALID'
print(name.lower())

nauman khalid

In [13]:
name='Nauman Khalid'
print(len(name))

13